body {
    display: flex;
    font-family: 'Arial', sans-serif;
    justify-content: center;
    align-items: center;
    background-color: #5e5050;
}

.main-container {
    border-radius: 50px;
}

.main-div {
    background-color: #1C1C1E;
    border-radius: 15px;
    max-width: 350px;
    color: white;
    text-align: center;
    margin-top: 10%;
    
}

.img-container {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.div-intro {
    padding: 20px;
}

.div-intro h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.div-intro h4 {
    color: #b8b8b8;
    font-size: 14px;
    margin: 5px 0;
}

.div-intro p {
    color: #b8b8b8;
    font-size: 12px;
    margin-bottom: 15px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.buttons button {
    background-color: #ffffff;
    border: none;
    color: #000000;
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button.email {
    background-color: #f0f0f0;
}

.buttons button.linkedin {
    background-color: #0077b5;
    color: #ffffff;
}

.about, .interests {
    text-align: left;
    margin: 15px 0;
    padding: 0 20px 20px 20px;
}


.about h3, .interests h3 {
    margin: 0 0 10px 0
}

.about p, .interests p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}

.footer {
    background-color: #161619;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.logos {
    height: 40px;
    width: 40px;
    color: #ffffff;
    margin: 0 10px;
    margin-bottom: 5px;
    border-radius: 40%;

}